<nav *ngIf="mostraNavbar">
    <a href="https://picpay.com" id="picpay" target="_blank">
        <h1>PicPay</h1>
    </a>
    <div>
        <a routerLink="/"><strong>Home</strong></a>
        <a routerLink="/listaCarne"><strong>Loja</strong></a>
    </div>
    <div id="logCad" *ngIf="!usuario">
        <a routerLink="/login"><button>Entrar</button></a>
        <a routerLink="/cadastro"><button>Cadastrar-se</button></a>
    </div>
    <div id="logCad" *ngIf="usuario">
        <h2>{{ usuario.nome }}</h2>
        <h2>{{ usuario.sobrenome }}</h2>
        <button (click)="teste()">teste</button>
    </div>
</nav>
<router-outlet></router-outlet>